@import "../../styles/global-css-settings";
@import "../../styles/typography";

.vibe-sb-comps-anchor-list-item {
  color: var(--sb-link-color);
  font-size: $anchor-font-size;
  line-height: $text-line-height;

  &:not(:last-child) {
    margin-bottom: var(--sb-spacing-small);
  }

  a {
    color: var(--sb-link-color);
  }
}
