.tableMenu {
  display: flex;
  align-items: center;
}

.globalSearch {
  width: 250px;
  margin-right: 25px;
}

.actionIcon {
  margin-left: 25px;
}

.optionsList {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: auto;
}

.dialogContent {
  padding: 12px;
}

.checkbox {
  margin-bottom: 8px;
}
.resetFiltersContainer {
  position: relative;
}

.resetFiltersLine {
  width: 1px;
  height: 25px;
  background-color: black;
  position: absolute;
  top: 1px;
  left: 43px;
  transform: rotate(135deg);
}
