.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid var(--color-ui_grey);
  background-color: #fff;
  width: 100%;
  display: table-footer-group;
  color: rgba(0, 0, 0, 0.6);
}

.row {
  display: flex;
  align-items: center;
}

.textInput {
  width: 70px;
}

.options {
  z-index: 4;
}
.option {
  margin-bottom: 3px;
}

.rowsPerPage {
  margin-right: 10px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.nextButton {
  margin-right: 6px;
}
.prevButton {
  margin-left: 6px;
}
