.textInput {
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 100px;
  z-index: 5;
}

.button {
  margin-left: 3px;
  margin-right: 3px;
}

.iconDisable {
  opacity: 1;
}

:global(.monday-style-dialog-content-wrapper) {
  z-index: 3;
}

.dialogContent {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.optionsList {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
  overflow-x: auto;
}

.checkbox {
  margin-bottom: 8px;
}
