@import "../../styles/global-css-settings";
@import "../../styles/typography";

.vibe-sb-comps-information-box-title{
  &_content {
    @include content-text-without-color;
    font-weight: bold;
    margin-bottom: var(--spacing-xs);
    margin-top: var(--spacing-xs);
    display: inline;
    &--link {
      cursor: pointer;
    }
  }
  &_link {
    color: var(--sb-link-color);
    text-decoration: none;
  }
}
