@import './global-css-settings';
@import './content-spacing';

// font
$font-weight-normal: 400;
$font-size-general-label: 14px;
$font-line-height-general-label: 24px;
$font-family: 'Figtree', 'Roboto', 'Rubik', 'Noto Kufi Arabic', 'Noto Sans JP', sans-serif;
$title-font-family: 'Poppins', 'Roboto', 'Rubik', 'Noto Kufi Arabic', 'Noto Sans JP', sans-serif;

$header-primary-font: $title-font-family;
$text-primary-font: $font-family;
$font-general-label: $font-weight-normal $font-size-general-label / $font-line-height-general-label $font-family;

// sizes
$h1-font-size: 40px;
$h2-font-size: 28px;
$h3-font-size: 24px;
$anchor-font-size: 18px;
$text-font-size: 16px;
$small-text-font-size: 14px;

// line height
$text-line-height: 24px;

@mixin basic-text {
  color: var(--primary-text-color);
}

@mixin content-text-without-color {
  font-family: $text-primary-font;
  font-size: $text-font-size;
  line-height: $text-line-height;
  font-weight: 400;
}

@mixin content-text {
  @include content-text-without-color;
  @include basic-text;
}

@mixin small-text-without-color {
  font-size: $small-text-font-size;
  font-weight: 400;
  line-height: $text-line-height;
}

@mixin small-text {
  @include basic-text;
  @include small-text-without-color;
}

@mixin title-appearance {
  margin-bottom: $spacing-between-title-to-content;
  font-family: $header-primary-font;
  @include basic-text;
  font-size: $h3-font-size;
  line-height: 28px;
  letter-spacing: -0.21px;
  text-align: left;
  font-weight: 300;
}

@mixin font-link {
  font: $font-general-label;
  text-decoration: none;
  color: var(--link-color);
}
