.tr {
  display: table-row;
  vertical-align: middle;
  outline: 0px;
  border-radius: 8px;
  overflow: hidden;
  > :last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  > :first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

.hover {
  &:hover {
    background-color: var(--disabled-background-color);
  }
}
