$font-weight-normal: 400;
$font-size-general-label: 14px;
$font-line-height-general-label: 24px;

// font
:root {
  --sb-font-family: 'Figtree', 'Roboto', 'Rubik', 'Noto Kufi Arabic', 'Noto Sans JP', sans-serif;
  --sb-title-font-family: 'Poppins', 'Roboto', 'Rubik', 'Noto Kufi Arabic', 'Noto Sans JP', sans-serif;
  --sb-font-general-label: $font-weight-normal $font-size-general-label / $font-line-height-general-label
    var(--sb-font-family);
}
